<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mydsl</property>
        <property name="hibernate.connection.password">

        </property>
        <property name="hibernate.connection.url">jdbc:h2:mem:spring_hibernate_one_to_many</property>
        <property name="hibernate.connection.username">who</property>
        <property name="connection.password">who</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="entity.banques" />
        <mapping class="entity.Client" />
        <mapping class="entity.Compte" />
        <mapping class="entity.Employe" />
        <mapping class="entity.Siege" />
        <mapping class="entity.Transaction"/>
    </session-factory>
</hibernate-configuration>